.main {
  min-height: 100vh;
  padding: 12rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;

  .logo {
    border-radius: 1.2rem;
    margin-bottom: 2rem;
  }

  .content {
    margin-top: 4.8rem;
  }
}

.socials {
  margin-top: 4.8rem;
  display: flex;
  gap: 2.4rem;
}
